[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
flask = "*"
flask-login = "*"
flask-script = "*"
zappa = "*"
awscli = "*"
pandas = "*"
japanize-matplotlib = "*"
pynamodb = "*"

[dev-packages]

[requires]
python_version = "3.8"
