{% extends "layout.html" %}
{% block body %}
<h1>測定結果</h1>
<p><p>
    <img src="/graph1.png" ></img>
<div>
    <p>select a image</p>
    <select id=selector onchange="getImg(this)">
    <!--<select id=selector onchange="getImg(this)">-->
        {% for entry in entries %}
        <option value="{{ entry.MeasureDateTime }}">{{ entry.fileName }}</option>
        {% else %}
        {% endfor %}
    </select>
</div>

<br/>
<img id="s3img"></img>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/script.js"></script>
{% endblock %}
